/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 oct. 2016, 11:10:37
    Author     : admin
*/

body{
    text-align: center;
    margin: auto;
}

table{
    margin: auto;
}

table input{
    width: 40px;
}